<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>sh.chck.thingsfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1B4FE033-2B45-41DD-AD34-31FE409B4187</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E58BB1CF-4FCF-468F-9824-7543A512414C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>233BF702-BCEC-4A07-9CAE-C6F13866CBFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B1C6EA5-8F77-4425-A9BB-3082E265A3A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34B9BFB5-C105-468A-9500-D066E8FC5F52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DF8C744-FCDC-4644-B48E-5BCDA5D7C9D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A9850448-0731-4F5B-AB9B-EE598502FAF4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>29CA5428-DBD1-4BFD-A7CF-E356140DF0EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9457FD95-046B-42F3-8E32-14D52F734EA0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4DF8C744-FCDC-4644-B48E-5BCDA5D7C9D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A0DD910-512B-4ECD-8471-3CAE0E8F49CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50ABBF65-1523-4DE5-B3E3-C8EF28AB1530</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DF8C744-FCDC-4644-B48E-5BCDA5D7C9D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CFA16D19-8068-4DC1-985F-394474C38DF5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>51C7F5FD-BE1B-4872-9290-7FB27A21237E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A826C694-6828-4344-9DD3-E77F353EED58</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>61C93FB5-1146-40EE-8600-7884AB5C39E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>98B8AE45-75F7-4238-8D32-B7E4B4C390F2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51C7F5FD-BE1B-4872-9290-7FB27A21237E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34B9BFB5-C105-468A-9500-D066E8FC5F52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B1C6EA5-8F77-4425-A9BB-3082E265A3A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92FA9D46-B46C-4761-A468-2AA252BF610D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92FA9D46-B46C-4761-A468-2AA252BF610D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2A352EB-C5DF-408F-B708-26210C36E32D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5F550D48-284C-44EE-96DF-37362F364E21</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4DF8C744-FCDC-4644-B48E-5BCDA5D7C9D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>17FC32F2-45C2-4083-AEA9-675A0E01C36E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2A352EB-C5DF-408F-B708-26210C36E32D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E58BB1CF-4FCF-468F-9824-7543A512414C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E58BB1CF-4FCF-468F-9824-7543A512414C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50ABBF65-1523-4DE5-B3E3-C8EF28AB1530</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>chck</string>
	<key>description</key>
	<string>Create new things directly from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Thingsfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>++</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>script/main_menu.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6B1C6EA5-8F77-4425-A9BB-3082E265A3A3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>Restart</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>233BF702-BCEC-4A07-9CAE-C6F13866CBFF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>add</string>
						<key>outputlabel</key>
						<string>Add</string>
						<key>uid</key>
						<string>17FC32F2-45C2-4083-AEA9-675A0E01C36E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>browse</string>
						<key>outputlabel</key>
						<string>Browse</string>
						<key>uid</key>
						<string>5F550D48-284C-44EE-96DF-37362F364E21</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>92FA9D46-B46C-4761-A468-2AA252BF610D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A2A352EB-C5DF-408F-B708-26210C36E32D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>add</string>
						<key>outputlabel</key>
						<string>Add</string>
						<key>uid</key>
						<string>CFA16D19-8068-4DC1-985F-394474C38DF5</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>show_content</string>
						<key>outputlabel</key>
						<string>Show Content</string>
						<key>uid</key>
						<string>A826C694-6828-4344-9DD3-E77F353EED58</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>back</string>
						<key>outputlabel</key>
						<string>Back</string>
						<key>uid</key>
						<string>98B8AE45-75F7-4238-8D32-B7E4B4C390F2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Back2</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>50ABBF65-1523-4DE5-B3E3-C8EF28AB1530</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>script/helpers/add_item.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4DF8C744-FCDC-4644-B48E-5BCDA5D7C9D6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:success_subtitle}</string>
				<key>title</key>
				<string>{var:success_title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2A0DD910-512B-4ECD-8471-3CAE0E8F49CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>ReChooseList</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>1B4FE033-2B45-41DD-AD34-31FE409B4187</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>script/query_containers.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E58BB1CF-4FCF-468F-9824-7543A512414C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>script/query_content.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>51C7F5FD-BE1B-4872-9290-7FB27A21237E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>add</string>
						<key>outputlabel</key>
						<string>Add</string>
						<key>uid</key>
						<string>A9850448-0731-4F5B-AB9B-EE598502FAF4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>back</string>
						<key>outputlabel</key>
						<string>Back</string>
						<key>uid</key>
						<string>9457FD95-046B-42F3-8E32-14D52F734EA0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>34B9BFB5-C105-468A-9500-D066E8FC5F52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>ReChooseList</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>29CA5428-DBD1-4BFD-A7CF-E356140DF0EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>Restart</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>61C93FB5-1146-40EE-8600-7884AB5C39E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1B4FE033-2B45-41DD-AD34-31FE409B4187</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>233BF702-BCEC-4A07-9CAE-C6F13866CBFF</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>29CA5428-DBD1-4BFD-A7CF-E356140DF0EC</key>
		<dict>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>655</real>
		</dict>
		<key>2A0DD910-512B-4ECD-8471-3CAE0E8F49CD</key>
		<dict>
			<key>xpos</key>
			<real>1095</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>34B9BFB5-C105-468A-9500-D066E8FC5F52</key>
		<dict>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>4DF8C744-FCDC-4644-B48E-5BCDA5D7C9D6</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>ADD ITEM</string>
			<key>xpos</key>
			<real>915</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>50ABBF65-1523-4DE5-B3E3-C8EF28AB1530</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>51C7F5FD-BE1B-4872-9290-7FB27A21237E</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Display Content</string>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>61C93FB5-1146-40EE-8600-7884AB5C39E3</key>
		<dict>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>6B1C6EA5-8F77-4425-A9BB-3082E265A3A3</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Main Menu</string>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>92FA9D46-B46C-4761-A468-2AA252BF610D</key>
		<dict>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>A2A352EB-C5DF-408F-B708-26210C36E32D</key>
		<dict>
			<key>note</key>
			<string>Clear ARG</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>E58BB1CF-4FCF-468F-9824-7543A512414C</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Browse Containers</string>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Auto (based on Alfred theme)</string>
				<key>pairs</key>
				<array>
					<array>
						<string>auto</string>
						<string>Auto (based on Alfred theme)</string>
					</array>
					<array>
						<string>dark</string>
						<string>Dark Icons</string>
					</array>
					<array>
						<string>light</string>
						<string>Light Icons</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Choose icon theme for better visibility</string>
			<key>label</key>
			<string>Icon Theme</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>icon_theme</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Library/Group Containers/JLMPQHK86H.com.culturedcode.ThingsMac/ThingsData-*/Things Database.thingsdatabase/main.sqlite</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Things DB Path Pattern</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>THINGS_DB_PATH_PATTERN</string>
		</dict>
	</array>
	<key>webaddress</key>
	<string>chck.sh</string>
</dict>
</plist>
