<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>sh.chck.thingsfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>233BF702-BCEC-4A07-9CAE-C6F13866CBFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B1C6EA5-8F77-4425-A9BB-3082E265A3A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34B9BFB5-C105-468A-9500-D066E8FC5F52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86B92DA0-C008-4E03-8CD3-43E3C4159E90</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A9850448-0731-4F5B-AB9B-EE598502FAF4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>29CA5428-DBD1-4BFD-A7CF-E356140DF0EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9457FD95-046B-42F3-8E32-14D52F734EA0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D4856B5-905F-460F-89F1-4402D96FEB78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0865C729-B18B-44EC-8A29-31E9493C695E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DD06C7B0-EBB7-46D0-B7A7-DFB9167C4D35</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E461497-E9BC-4C25-98FF-39AFE699ABDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA54649D-F8C0-4321-803E-DDC7CABBE527</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CFA16D19-8068-4DC1-985F-394474C38DF5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F16E1645-3DD8-42A7-B19C-7BA73C98D344</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A826C694-6828-4344-9DD3-E77F353EED58</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3DBB6DDB-86A7-445D-B2E9-5EE54857B9DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>98B8AE45-75F7-4238-8D32-B7E4B4C390F2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E8BEC2C-DEE8-49C4-9F6B-C1D002487AA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8261115C-EF1A-4B4B-BA60-3FB06E3E6DA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9E714915-AB24-40C9-A068-0B66EFC84E51</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7F679F68-FAA2-4E4A-A3FA-12EC369DA4AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>468AFA46-6B5B-4043-8CAD-28BF25FB5B06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E461497-E9BC-4C25-98FF-39AFE699ABDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51C7F5FD-BE1B-4872-9290-7FB27A21237E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34B9BFB5-C105-468A-9500-D066E8FC5F52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5761AFF1-EC14-44DC-9C0B-3084A5D15B22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>468AFA46-6B5B-4043-8CAD-28BF25FB5B06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B1C6EA5-8F77-4425-A9BB-3082E265A3A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92FA9D46-B46C-4761-A468-2AA252BF610D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B726E6F-FD2B-4FCA-82E4-464F79D2305B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D4856B5-905F-460F-89F1-4402D96FEB78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86B92DA0-C008-4E03-8CD3-43E3C4159E90</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C030C477-C4BE-4233-915B-2070F48EE4F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9E714915-AB24-40C9-A068-0B66EFC84E51</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A6ED5E21-192E-4102-A7BF-FFD6A7D0F948</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92FA9D46-B46C-4761-A468-2AA252BF610D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E8BEC2C-DEE8-49C4-9F6B-C1D002487AA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>17FC32F2-45C2-4083-AEA9-675A0E01C36E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>71FF43BB-7744-4C8E-8D83-CDA71D12353D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5F550D48-284C-44EE-96DF-37362F364E21</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9F6ED04-952B-465D-8E81-5F5527EDF0F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B726E6F-FD2B-4FCA-82E4-464F79D2305B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6A2191A-CA53-45D1-9F60-B9E03955DC78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B835E1C8-0BC9-406F-A9A1-F4B07B5F00CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA54649D-F8C0-4321-803E-DDC7CABBE527</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD3706DD-77A5-4618-8CBB-C57F08423041</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9E714915-AB24-40C9-A068-0B66EFC84E51</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1712D217-3B21-4482-99BB-C82D5B249A32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1C1BA03-A152-4AEF-B572-59ED55F5B3D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9F6ED04-952B-465D-8E81-5F5527EDF0F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F39A70D1-F3A0-4B0C-B373-9346DFDF1DC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51C7F5FD-BE1B-4872-9290-7FB27A21237E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F41DFB8C-CFC7-4DBB-ADEF-0FB8577EE9E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6A2191A-CA53-45D1-9F60-B9E03955DC78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>chck</string>
	<key>description</key>
	<string>Create new things directly from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Thingsfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>add_and_batch</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>8261115C-EF1A-4B4B-BA60-3FB06E3E6DA7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>entry</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>233BF702-BCEC-4A07-9CAE-C6F13866CBFF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>++</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>script/main_menu.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6B1C6EA5-8F77-4425-A9BB-3082E265A3A3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:batch}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Batch Add</string>
						<key>uid</key>
						<string>9E714915-AB24-40C9-A068-0B66EFC84E51</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3E8BEC2C-DEE8-49C4-9F6B-C1D002487AA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>add</string>
						<key>outputlabel</key>
						<string>Add</string>
						<key>uid</key>
						<string>17FC32F2-45C2-4083-AEA9-675A0E01C36E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>browse</string>
						<key>outputlabel</key>
						<string>Browse</string>
						<key>uid</key>
						<string>5F550D48-284C-44EE-96DF-37362F364E21</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>92FA9D46-B46C-4761-A468-2AA252BF610D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>add_item</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>7F679F68-FAA2-4E4A-A3FA-12EC369DA4AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>filter_container</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>71FF43BB-7744-4C8E-8D83-CDA71D12353D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>add_and_batch</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>DD3706DD-77A5-4618-8CBB-C57F08423041</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:batch}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Batch Add</string>
						<key>uid</key>
						<string>9E714915-AB24-40C9-A068-0B66EFC84E51</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DA54649D-F8C0-4321-803E-DDC7CABBE527</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>add_item</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>1712D217-3B21-4482-99BB-C82D5B249A32</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>filter_container</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>5761AFF1-EC14-44DC-9C0B-3084A5D15B22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>script/query_containers.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>468AFA46-6B5B-4043-8CAD-28BF25FB5B06</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>add</string>
						<key>outputlabel</key>
						<string>Add</string>
						<key>uid</key>
						<string>CFA16D19-8068-4DC1-985F-394474C38DF5</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>show_content</string>
						<key>outputlabel</key>
						<string>Show Content</string>
						<key>uid</key>
						<string>A826C694-6828-4344-9DD3-E77F353EED58</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>back</string>
						<key>outputlabel</key>
						<string>Back</string>
						<key>uid</key>
						<string>98B8AE45-75F7-4238-8D32-B7E4B4C390F2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Back2</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3E461497-E9BC-4C25-98FF-39AFE699ABDF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>filter_content</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>F16E1645-3DD8-42A7-B19C-7BA73C98D344</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>entry</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>3DBB6DDB-86A7-445D-B2E9-5EE54857B9DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>add_and_batch</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>C030C477-C4BE-4233-915B-2070F48EE4F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:batch}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Batch Add</string>
						<key>uid</key>
						<string>9E714915-AB24-40C9-A068-0B66EFC84E51</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>86B92DA0-C008-4E03-8CD3-43E3C4159E90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>filter_content</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>F39A70D1-F3A0-4B0C-B373-9346DFDF1DC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>script/query_content.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>51C7F5FD-BE1B-4872-9290-7FB27A21237E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>add</string>
						<key>outputlabel</key>
						<string>Add</string>
						<key>uid</key>
						<string>A9850448-0731-4F5B-AB9B-EE598502FAF4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>back</string>
						<key>outputlabel</key>
						<string>Back</string>
						<key>uid</key>
						<string>9457FD95-046B-42F3-8E32-14D52F734EA0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>34B9BFB5-C105-468A-9500-D066E8FC5F52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>add_item</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>A6ED5E21-192E-4102-A7BF-FFD6A7D0F948</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>filter_container</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>29CA5428-DBD1-4BFD-A7CF-E356140DF0EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>add_item</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>F41DFB8C-CFC7-4DBB-ADEF-0FB8577EE9E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>script/helpers/add_item.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C6A2191A-CA53-45D1-9F60-B9E03955DC78</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:success_subtitle}</string>
				<key>title</key>
				<string>{var:success_title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B835E1C8-0BC9-406F-A9A1-F4B07B5F00CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>add_and_batch</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>0865C729-B18B-44EC-8A29-31E9493C695E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:success_subtitle}</string>
				<key>title</key>
				<string>{var:success_title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6B726E6F-FD2B-4FCA-82E4-464F79D2305B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>add_and_batch</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>F1C1BA03-A152-4AEF-B572-59ED55F5B3D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>script/helpers/add_item.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A9F6ED04-952B-465D-8E81-5F5527EDF0F5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>script/batch_input.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3D4856B5-905F-460F-89F1-4402D96FEB78</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>add_item</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>DD06C7B0-EBB7-46D0-B7A7-DFB9167C4D35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0865C729-B18B-44EC-8A29-31E9493C695E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>1175</real>
			<key>ypos</key>
			<real>1785</real>
		</dict>
		<key>1712D217-3B21-4482-99BB-C82D5B249A32</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>1175</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>233BF702-BCEC-4A07-9CAE-C6F13866CBFF</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>29CA5428-DBD1-4BFD-A7CF-E356140DF0EC</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>1410</real>
		</dict>
		<key>34B9BFB5-C105-468A-9500-D066E8FC5F52</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>1285</real>
		</dict>
		<key>3D4856B5-905F-460F-89F1-4402D96FEB78</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>1895</real>
		</dict>
		<key>3DBB6DDB-86A7-445D-B2E9-5EE54857B9DC</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>920</real>
		</dict>
		<key>3E461497-E9BC-4C25-98FF-39AFE699ABDF</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>760</real>
		</dict>
		<key>3E8BEC2C-DEE8-49C4-9F6B-C1D002487AA1</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>468AFA46-6B5B-4043-8CAD-28BF25FB5B06</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Browse Containers</string>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>51C7F5FD-BE1B-4872-9290-7FB27A21237E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Display Content</string>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>1265</real>
		</dict>
		<key>5761AFF1-EC14-44DC-9C0B-3084A5D15B22</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>6B1C6EA5-8F77-4425-A9BB-3082E265A3A3</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>Main Menu</string>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>6B726E6F-FD2B-4FCA-82E4-464F79D2305B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>1895</real>
		</dict>
		<key>71FF43BB-7744-4C8E-8D83-CDA71D12353D</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>7F679F68-FAA2-4E4A-A3FA-12EC369DA4AB</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>1175</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>8261115C-EF1A-4B4B-BA60-3FB06E3E6DA7</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Add item and start batch</string>
			<key>xpos</key>
			<real>1175</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>86B92DA0-C008-4E03-8CD3-43E3C4159E90</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>1195</real>
		</dict>
		<key>92FA9D46-B46C-4761-A468-2AA252BF610D</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>A6ED5E21-192E-4102-A7BF-FFD6A7D0F948</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>1175</real>
			<key>ypos</key>
			<real>1305</real>
		</dict>
		<key>A9F6ED04-952B-465D-8E81-5F5527EDF0F5</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>ADD ITEM</string>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>1895</real>
		</dict>
		<key>B835E1C8-0BC9-406F-A9A1-F4B07B5F00CB</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>1685</real>
		</dict>
		<key>C030C477-C4BE-4233-915B-2070F48EE4F0</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Add item and start batch</string>
			<key>xpos</key>
			<real>1175</real>
			<key>ypos</key>
			<real>1150</real>
		</dict>
		<key>C6A2191A-CA53-45D1-9F60-B9E03955DC78</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>ADD ITEM</string>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>1685</real>
		</dict>
		<key>DA54649D-F8C0-4321-803E-DDC7CABBE527</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>DD06C7B0-EBB7-46D0-B7A7-DFB9167C4D35</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>1175</real>
			<key>ypos</key>
			<real>2020</real>
		</dict>
		<key>DD3706DD-77A5-4618-8CBB-C57F08423041</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Add item and start batch</string>
			<key>xpos</key>
			<real>1175</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>F16E1645-3DD8-42A7-B19C-7BA73C98D344</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>1175</real>
			<key>ypos</key>
			<real>825</real>
		</dict>
		<key>F1C1BA03-A152-4AEF-B572-59ED55F5B3D7</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>1895</real>
		</dict>
		<key>F39A70D1-F3A0-4B0C-B373-9346DFDF1DC0</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>1265</real>
		</dict>
		<key>F41DFB8C-CFC7-4DBB-ADEF-0FB8577EE9E8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>1685</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Auto (based on Alfred theme)</string>
				<key>pairs</key>
				<array>
					<array>
						<string>auto</string>
						<string>Auto (based on Alfred theme)</string>
					</array>
					<array>
						<string>dark</string>
						<string>Dark Icons</string>
					</array>
					<array>
						<string>light</string>
						<string>Light Icons</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Choose icon theme for better visibility</string>
			<key>label</key>
			<string>Icon Theme</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>icon_theme</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Library/Group Containers/JLMPQHK86H.com.culturedcode.ThingsMac/ThingsData-*/Things Database.thingsdatabase/main.sqlite</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Things DB Path Pattern</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>THINGS_DB_PATH_PATTERN</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>///</string>
				<key>placeholder</key>
				<string>///</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Separator to split task name from notes</string>
			<key>label</key>
			<string>Notes Separator</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>NOTES_SEPARATOR</string>
		</dict>
	</array>
	<key>webaddress</key>
	<string>chck.sh</string>
</dict>
</plist>
